.header{
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color:white;
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color:rgb(192, 192, 192);
    z-index: 100;
}
.left-section{
    width: 150px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
    margin-left: 4px;
    cursor: pointer;
    
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 4px;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 100px;
}

.search-button,
.voice-search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.upload-icon-container,
.youtube-apps-container,
.notifications-container{
    position:relative;
    display: flex;
    justify-content:center;
    align-items:center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-container .tooltip{
    font-family: Robto,Arial;
    position: absolute;
    background-color: rgb(86, 84, 84);
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    border-radius: 2px;
    bottom: -50px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap; 
    justify-content:center;
    align-items:center; 
    display: flex;
    
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-container:hover .tooltip{
    opacity: 1;
    justify-content:center;
    align-items:center;
    display: flex;
}

.search-icon{
    height:25px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}
.voice-search-icon{
    height: 24px;
    background-color: rgb(245, 245, 245);
}
.right-section{
    width: 210px;  
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display:flex;
    cursor: pointer;
    
    
}
.upload-icon{
    height:25px;
}
.youtube-apps-icon{
    height:25px;   
}
.notifications-icon{
    height:25px;  
}
.channel-icon{
    height:32px;
    background-color: white;
    width:32px;
    border-radius: 16px;
    margin-right:25px; 
    cursor: pointer;  
}
.notifications-icon-container{
    position: relative;
    
}
.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
