
.thumbnail{
  width:100%;
}
.video-title{
    font-size: 14px;
    font-weight: 600;
    display:block;
    line-height: 20px;
    margin-bottom:12px ;
}
.video-info-grid{
    display: grid;
    grid-template-columns:50px 1fr;
}
.profile-picture{
    width: 38px;
    border-radius: 19px;  
    cursor: pointer; 
}
.video-title{
    margin-top: 0px;
    cursor: pointer;
}
.thumbnail-row{
    margin-bottom: 13px;
    position:relative;
    cursor: pointer;

}
.video-author{
    font-size:13px;
    color:rgb(96,96,96);
    margin-bottom: 2px; 
    cursor: pointer;   
}
.video-stats{
    font-size:13px;
    color:rgb(96,96,96);    
}
.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.video-time{
    background-color: black;
    color:white;
    position:absolute;
    right:4px;
    bottom:10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight:600;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 2px;
    opacity: 0.9;
}  